.container {
  position: relative;
  width: 100%;
}

.smui-card__content img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  left: 0;
  width: calc(100%-32px);
  margin-left: 16px;
  margin-right: 16px;
}

.clickable:hover {
  cursor: pointer;
}

.container .btn {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #55555500;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn a:hover {
  background-color: black;
}

.model {
  width: 100%;
}