main {
    margin: auto;
    max-width: 1000px;
}

.divider {
    height: 1px;
	background-color: #676778;
}
body {
	margin:0
}

footer {
    margin-top: 20px;
}
footer main {
    margin-top: 10px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

footer {
    margin-bottom: 2em;
}

.txt_image_container {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.txt_image_container img {
    width: 90% !important;
}

.txt_image_container .label {
    margin-right: 5%;
    width: 90%;
    font-size: 12px;
}