main {
    margin: auto;
    max-width: 1000px;
}

.main_txt {
    text-align: justify !important;
    font-size: 20px !important;
    line-height: 1.5em !important;
}

.divider {
    height: 1px;
	background-color: #676778;
}
body {
	margin:0
}

footer {
    margin-top: 20px;
    padding-bottom: 4em;
}
footer main {
    margin-top: 10px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

footer {
    margin-bottom: 2em;
}

.txt_image_container {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.txt_image_container img {
    width: 90% !important;
}

.txt_image_container .label {
    margin-left: 5%;
    width: 90%;
    font-size: 17px;
    text-align: justify;
}